### User Master

In [50]:
import pandas as pd
import pyodbc

In [51]:
server = '157.119.230.120,4071'    
database = 'PowerBI_LISV2'      
username = 'sa'
password = 'Y0m@Sql.!.123'

# Connection string
conn_str = f"""
    DRIVER={{ODBC Driver 17 for SQL Server}};
    SERVER={server};
    DATABASE={database};
    UID={username};
    PWD={password};
    TrustServerCertificate=yes;
"""

In [52]:
x = ['ReckittManagement','ZydusMTManagement','AmulManagement','CholayilManagement','BrillonMTManagement','DanoneMTManagement','EvereadyManagement','ABInBevManagement','HaleonManagement','MTRManagement','IDAMManagement','GCPL_SAMTManagement','PidiliteManagement','RelianceManagement','BagrrysManagement','AdaniWilmerManagement','PiramalManagement','Pepsi_SAMTManagement','Jayanti_GroupManagement','Yoga_BarManagement','EmamiGTManagement','BeamSuntoryManagement','WiproGranammaManagement','DanoneGTManagement','DaburSkinScienceManagement','HimalayaMTManagement','DaburPharmaManagement','JyothyLabsManagement','GCPLManagement','MarsManagement','mCaffeineManagement','HaleonASIManagement','ClenstaManagement','HimalayaTurmericManagement','ChiccoManagement','HimalayaTurmericGTManagement','ParleManagement','JohnsonJohnsonManagement','KRBLMTManagement','ZydusGTManagement','PatanjaliManagement','CamlinManagement','BajajConsumerManagement','BajajMTManagement','DelMonteManagement','GCPLFoodsManagement','JakartaManagement','ColgateManagement','BacardilegacyManagement','AbbottManagement','BacardiPremiumManagement','EmamiAgroManagement','KRBLGTManagement','MondelezGTManagement','GodrejNinjaFoodsManagement','LBPLManagement']

# Static query parts
designation_list = ['Merchandiser', 'Promoter', 'BA', 'BP', 'ISR', 'FloaterPromoter', 'Floater Promoter']

In [53]:
designation_str = ",".join(f"'{d}'" for d in designation_list)

In [54]:
conn = pyodbc.connect(conn_str)
UserMaster = pd.DataFrame()

In [55]:
for value in x:
    query2 = f"""
    WITH Attendance_CTE AS (
        SELECT
            '{value}' AS client,
            *
        FROM PowerBI_LISV2.[{value}].UserMaster AS A
    )
    SELECT *   
    FROM Attendance_CTE;
    
    
    """
    df = pd.read_sql(query2, conn)
    UserMaster = pd.concat([UserMaster, df], ignore_index=True)
    print(f"Running for: {value}")

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: ReckittManagement
Running for: ZydusMTManagement
Running for: AmulManagement
Running for: CholayilManagement
Running for: BrillonMTManagement
Running for: DanoneMTManagement
Running for: EvereadyManagement
Running for: ABInBevManagement
Running for: HaleonManagement
Running for: MTRManagement
Running for: IDAMManagement
Running for: GCPL_SAMTManagement
Running for: PidiliteManagement
Running for: RelianceManagement
Running for: BagrrysManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: AdaniWilmerManagement
Running for: PiramalManagement
Running for: Pepsi_SAMTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: Jayanti_GroupManagement
Running for: Yoga_BarManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: EmamiGTManagement
Running for: BeamSuntoryManagement
Running for: WiproGranammaManagement
Running for: DanoneGTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: DaburSkinScienceManagement
Running for: HimalayaMTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: DaburPharmaManagement
Running for: JyothyLabsManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: GCPLManagement
Running for: MarsManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: mCaffeineManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: HaleonASIManagement
Running for: ClenstaManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: HimalayaTurmericManagement
Running for: ChiccoManagement
Running for: HimalayaTurmericGTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: ParleManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: JohnsonJohnsonManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: KRBLMTManagement
Running for: ZydusGTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: PatanjaliManagement
Running for: CamlinManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)
C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: BajajConsumerManagement
Running for: BajajMTManagement
Running for: DelMonteManagement
Running for: GCPLFoodsManagement
Running for: JakartaManagement
Running for: ColgateManagement
Running for: BacardilegacyManagement
Running for: AbbottManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: BacardiPremiumManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: EmamiAgroManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: KRBLGTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: MondelezGTManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: GodrejNinjaFoodsManagement

C:\Users\kunal\AppData\Local\Temp\ipykernel_22008\584217170.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query2, conn)

Running for: LBPLManagement

In [56]:
conn = pyodbc.connect(conn_str)
# UserMaster = pd.read_sql(query2, conn)

In [57]:
UserMaster=UserMaster.drop_duplicates()

In [58]:
UserMaster.head()

,client,UserMasterId,UserId,EmployeeID,UserName,FullName,EmailID,Mobile,Address1,Address2,...,CreatedBy,ModifiedDateTime,ModifiedBy,EmpPositionCode,EmpPositionCodeStatus,KYCStatus,IsFacePassEnable,FacePassStatus,FacePassReason,EmpId&PositionCodeRequired
0,ReckittManagement,878433,50760,YMI000174105,RB00_M3313,Obulammagari Kulasekhar,Test@gmail.com,8639898505,Address1,Address2,...,MISReckitt-01,None,None,None,None,None,None,None,None,None
1,ReckittManagement,878434,50755,YMI000167212,RB00_M3312,Ajay Hanumant Khilare,Test@gmail.com,7039885077,Address1,Address2,...,MISReckitt-01,19-12-2025 14:27:27,MISReckitt-01,None,None,None,None,None,None,None
2,ReckittManagement,878435,50754,YMI000174103,RB00_M3311,Sita Ram Sonwal,Test@gmail.com,8947955381,Address1,Address2,...,MISReckitt-01,19-12-2025 14:27:27,MISReckitt-01,None,None,None,None,None,None,None
3,ReckittManagement,878436,50753,YMI000174098,RB00_M3310,Gurpreet Kaur,Test@gmail.com,8146974240,Address1,Address2,...,MISReckitt-01,19-12-2025 14:27:27,MISReckitt-01,None,None,None,None,None,None,None
4,ReckittManagement,878437,50752,YMI000174104,RB00_M3309,Bhagwan Lal Luhar,Test@gmail.com,9509745066,Address1,Address2,...,MISReckitt-01,19-12-2025 14:27:27,MISReckitt-01,None,None,None,None,None,None,None

In [59]:
UserMaster.to_csv('UserMaster.csv')